@font-face {
  font-family: "iconfont"; /* Project id 3824958 */
  src: url('iconfont.woff2?t=1670935169562') format('woff2'),
       url('iconfont.woff?t=1670935169562') format('woff'),
       url('iconfont.ttf?t=1670935169562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duicheng:before {
  content: "\e60d";
}

.icon-shanchu:before {
  content: "\e60e";
}

.icon-shouye-zhihui:before {
  content: "\e605";
}

.icon-shangchuantupian:before {
  content: "\e606";
}

.icon-guanzhu-zhihui:before {
  content: "\e607";
}

.icon-normal_index_chanel_model:before {
  content: "\e60f";
}

.icon-normal_index_chanel_research:before {
  content: "\e610";
}

.icon-normal_index_chanel_market:before {
  content: "\e611";
}

